# ---------- OS ----------
.DS_Store

# ---------- Python ----------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ---------- MicroPython ----------
*.mpy

# ---------- Editors ----------
.vscode/
.idea/

# ---------- Build / temp ----------
*.log

# ---------- Local tooling ----------
pd.txt

# ---------- Secrets ----------
pico/secrets.py

# ---------- Pytest ----------
.pytest_cache/